
ul.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width : 306px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow : auto;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
li a{
    display: block;
    font-size: 24px;
    color : #000;
    padding: 8px 16px ;
    text-decoration: none;
}
li a.active {
    background-color: blue;
    color : white
}
li a:hover:not(.active) {

    background-color: #A9ECE3;;
    color : white
}
.logo {
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 96px;
    width: 223px;
    height: 70px;
}
.dixc{
    margin-left:306px;padding:1px 16px;height:1000px;
}
.searchBar {
    width: 800px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #6CE0D1;
}