.background{
    height: 2757px;
    width: 80%;
    left: 320px;
    top: 88px;
    border-radius: 20px;
    background: #EDEDED; 
    display: flex;
    align-content: center;
    float: left;
    margin-top: 19px;
}
h1{
 margin-left: 40px;
}
.dixc{
    margin-left:335px;
    padding-left:28px ;
    height:83vh;
    padding-top:40px;
    background-color: #EDEDED;
    border-radius: 20px;
    padding-right: 37px;
    width: 74vw;
}